:root {
	--text-color: #ffffff;
	--text-color-medium: #e0e0e0;
	--text-color-light: #bbbbbb;
	--background-color: #464646;
	--background-color-darker: #323232;
	--border-color: #808080;
	--theme-color: #00ab6c;
	// --theme-color: #fc6d26;

	--safe-green-color: #00a0dc;
	// --safe-green-color: #4dc47d;
	--danger-red-color: #ff0000;
}

:root {
	--text-color: #424242;
	--text-color-medium: #666666;
	--text-color-light: #909090;
	--background-color: #ffffff;
	--background-color-darker: #f1f3f3;
	--border-color: #dddddd;
	--theme-color: #00ab6c;

	--safe-green-color: #00a0dc;
	--danger-red-color: #ff0000;
}

$header-height: 70px;
