<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/lib/style.css">
  <link rel="stylesheet" href="/static/lib/blogs.css">
  <title>Blogs - Ritwik Saha</title>
</head>
<body>

  {{template "header"}}

  <div class="Page-Content-99 blogs-content-00">
  {{range .}}
    {{template "blogs-item" .}}
  {{end}}
  </div>
    
  <script src="/static/serviceWorker.js"></script>
  <script src="/static/lib/main.js"></script>
</body>
</html>