<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/lib/variables.css">
  <link rel="stylesheet" href="/static/lib/style.css">
  <link rel="stylesheet" href="/static/lib/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <title>{{.Status}} - {{.Message}}</title>
</head>
<body>

  {{template "header"}}

  <div class="Page-Content-99 index-content-00">
    <div id="index-center-div-00">
      <div id="error-center-msg-container-01">
        <h1>{{.Message}}, {{.Status}}</h1>
        <p>Go back to <a href="/">home</a></p>
      </div>
    </div>
  </div>

  {{template "social-btns"}}
  
  <script src="/static/serviceWorker.js"></script>
  <script src="/static/lib/main.js"></script>
</body>
</html>