.Header-c-00 {
	color: var(--text-color);
	background: var(--background-color-darker);
	padding: 20px 40px;
	max-height: $header-height;
	position: fixed;
	width: calc(100vw - 80px);

	h3 {
		font-size: 22px;
		font-weight: normal;

		span {
			font-size: 26px;
		}
	}

	.Header-Navbtn-Container-Div-01 {
		a {
			color: var(--text-color-light);
			margin-left: 20px;
		}

		button {
			border: 0px solid var(--background-color-darker);
			background: var(--background-color-darker);
			cursor: pointer;
			margin-left: 18px;
			padding: 0px;
		}

		.Header-NavLink-Active {
			color: var(--text-color);
		}
	}
}
