{{define "social-btns"}}
<div class="Bottom-Social-Btn-Container-00 Flex-Row-End">
  <a class="Cute-Btn Cute-Btn-Twitter" target="_blank" href="https://twitter.com/ritwik310">
    <i class="fab fa-twitter"></i>
    Follow&nbsp;@ritwik310
  </a>
  <a class="Cute-Btn Cute-Btn-M-Left Cute-Btn-Github" target="_blank" href="https://github.com/ritwik310">
    <i class="fab fa-github"></i>
    Github
  </a>
  <a class="Cute-Btn Cute-Btn-M-Left Cute-Btn-Medium" target="_blank" href="https://medium.com/@ritwik310">
    <i class="fab fa-medium-m"></i>
    Writings
  </a>
</div>
{{end}}