.JOSNBox-c-00 {
	textarea {
		margin: 0px 20px 0px 20px;
		padding: 6px 10px;
		width: calc(100% - 62px);
		min-width: calc(100% - 62px);
		max-width: calc(100% - 62px);
		// height:

		min-height: 250px;

		line-height: 20px;
		// word-spacing: 1px;
		letter-spacing: 0.4px;
		color: var(--text-color-medium);
	}
}
