.Flex-Row-Center,
.Flex-Row-End,
.Flex-Row-Start,
.Flex-Row-Space-Between {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Flex-Row-Center {
	justify-content: center;
}
.Flex-Row-End {
	justify-content: flex-end;
}
.Flex-Row-Start {
	justify-content: flex-start;
}
.Flex-Row-Space-Between {
	justify-content: space-between;
}

.Flex-Column-Start,
.Flex-Column-Center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Flex-Column-Start {
	align-items: flex-start;
}
.Flex-Column-Center {
	align-items: center;
}

.Theme-Btn-Little-One {
	padding: 2px 8px;
	margin: 0px;
	border-radius: 2px;

	border: 1px solid var(--border-color);
	background: var(--background-color);
	color: var(--text-color-medium);

	&:hover {
		color: white;
		background: var(--theme-color);
		border: 1px solid var(--theme-color);
	}
}

.Theme-Btn-First,
.Theme-Btn-Grey {
	padding: 6px 14px;
	margin: 0px;
	border-radius: 2px;
	cursor: pointer;
}
.Theme-Btn-First {
	border: 1px solid var(--safe-green-color);
	background: var(--safe-green-color);
	color: white;
}
.Theme-Btn-Grey {
	border: 1px solid var(--text-color-light);
	background: var(--text-color-light);
	color: var(--background-color);
}

.Theme-Box-Shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

	&:hover {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	}
}

.Theme-Loading-Spin-Div {
	background: var(--background-color);
	border: 3px solid var(--background-color);
	border-top: 3px solid var(--text-color-medium);
	border-right: 3px solid var(--text-color-medium);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-animation: Loading-Spin 500ms linear infinite; /* Safari */
	animation: Loading-Spin 500ms linear infinite;
}

@-webkit-keyframes Loading-Spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes Loading-Spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
