.Flex-Row-Center,
.Flex-Row-End,
.Flex-Row-Start,
.Flex-Row-Space-Between {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Flex-Row-Center {
	justify-content: center;
}
.Flex-Row-End {
	justify-content: flex-end;
}
.Flex-Row-Start {
	justify-content: flex-start;
}
.Flex-Row-Space-Between {
	justify-content: space-between;
}

.Flex-Column-Start,
.Flex-Column-Center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Flex-Column-Start {
	align-items: flex-start;
}
.Flex-Column-Center {
	align-items: center;
}

.Theme-Btn-Little-One {
	padding: 2px 8px;
	margin: 0px;
	border-radius: 2px;

	border: 1px solid var(--border-color);
	background: var(--background-color);
	color: var(--text-color-medium);

	&:hover {
		color: var(--background-color);
		background: var(--theme-color);
		border: 1px solid var(--theme-color);
	}
}

.Theme-Box-Shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

	&:hover {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	}
}
